@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #4c4e61;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.light-text {
  font-weight: 200;
}

body {
  background-color: #fafafa;
  color: #4c4e61;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins, sans-serif;
  text-align: center;
}

body h1 {
  font-weight: 600;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 1.6rem;
    margin: 0 auto;
    width: 20rem;
  }
}

@media (min-width: 1200px) {
  body h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 100%;
    margin: 1em auto;
    width: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .description {
    margin: 1em auto;
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .description {
    margin: .8em auto;
    width: 35rem;
  }
}

.description p {
  color: #a3a5ae;
}

.attribution {
  font-size: .9rem;
}

@media (max-width: 768px) {
  .attribution {
    font-size: .8rem;
    margin: 2em auto;
    width: 15rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .attribution {
    margin: 3rem auto;
    width: 30%;
  }
}

.card {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1.5rem 1.5rem 0.2rem rgba(217, 227, 236, 0.5);
          box-shadow: 0 1.5rem 1.5rem 0.2rem rgba(217, 227, 236, 0.5);
  -webkit-box-shadow: 0 1rem 1rem 0 rgba(75, 121, 180, 0.15);
          box-shadow: 0 1rem 1rem 0 rgba(75, 121, 180, 0.15);
  height: 16.5rem;
  margin: 2em;
  width: 23rem;
}

@media (max-width: 768px) {
  .card {
    height: 13rem;
    margin: 0 auto;
    margin-top: 1.75rem;
    width: 77%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card {
    margin: 0 auto;
    width: 21rem;
  }
}

@media (min-width: 1200px) {
  .card {
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.8, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.2, 0.8, 0.44, 1);
  }
  .card:after {
    background-color: white;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1.5rem 1.5rem 0.2rem rgba(217, 227, 236, 0.5);
            box-shadow: 0 1.5rem 1.5rem 0.2rem rgba(217, 227, 236, 0.5);
    -webkit-box-shadow: 0 1rem 1rem 0 rgba(75, 121, 180, 0.15);
            box-shadow: 0 1rem 1rem 0 rgba(75, 121, 180, 0.15);
    height: 16.5rem;
    margin: 2em;
    width: 23rem;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0.8, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.2, 0.8, 0.44, 1);
    z-index: -1;
  }
  .card:after:hover {
    opacity: 1;
  }
  .card:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15, 1.15);
            transform: scale(1.15, 1.15);
  }
}

.card .card__border {
  background-color: red;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 1.75%;
  width: 100%;
}

.card .card__border--blue {
  background-color: #549ef2;
}

.card .card__border--cyan {
  background-color: #45d3d3;
}

.card .card__border--orange {
  background-color: #fcaf4a;
}

.card .card__border--red {
  background-color: #ea5353;
}

.card .card__content {
  margin: 2rem;
  text-align: left;
}

@media (max-width: 768px) {
  .card .card__content {
    margin: 1.5rem;
  }
}

.card .card__content h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.card .card__content p {
  color: #a3a5ae;
  font-size: 0.85rem;
  line-height: 1.8;
  margin-top: 0.5rem;
}

.card .card__content .content__image {
  margin-top: 2rem;
  text-align: right;
}

@media (max-width: 768px) {
  .card .card__content .content__image {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .card .card__content .content__image img {
    width: 3.75rem;
  }
}

@media (min-width: 1200px) {
  html {
    height: 100vh;
  }
}

body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  min-height: auto;
  padding-top: 5.1rem;
  width: 100%;
}

@media (min-width: 1200px) {
  main {
    max-height: 922px;
  }
}

main .container-cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  main .container-cards {
    display: inherit;
    margin-top: 4.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  main .container-cards {
    grid-gap: 2.3rem;
    -ms-grid-columns: 21rem 21rem;
        grid-template-columns: 21rem 21rem;
    -ms-grid-rows: 16rem 16rem;
        grid-template-rows: 16rem 16rem;
    margin-top: 4.5rem;
  }
}

@media (min-width: 1200px) {
  main .container-cards {
    -ms-flex-line-pack: center;
        align-content: center;
    margin-right: 2.1rem;
    margin-top: 2.5rem;
    grid-gap: 2.3rem;
    -ms-grid-columns: 23rem 23rem 23rem;
        grid-template-columns: 23rem 23rem 23rem;
    -ms-grid-rows: 11.5rem 11.5rem 11.5rem;
        grid-template-rows: 11.5rem 11.5rem 11.5rem;
  }
}

@media (min-width: 1200px) {
  main .container-cards .container {
    margin: 0 -1rem;
  }
}

@media (min-width: 1200px) {
  main .container-cards .container__card1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media (min-width: 1200px) {
  main .container-cards .container__card2 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  main .container-cards .container__card3 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media (min-width: 1200px) {
  main .container-cards .container__card3 {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

@media (min-width: 1200px) {
  main .container-cards .container__card4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}
/*# sourceMappingURL=main.css.map */