
@import 'mixins';

// LAYOUT STRUCTURE

html {
  @include mquery-desktops {
    height: 100vh;
  }
}

body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  min-height: auto;
  padding-top: 5.1rem;
  width: 100%;

  @include mquery-desktops {
    max-height: 922px;
  }
  
  .container-cards {
    display: grid;
    justify-content: center;
    
    @include mquery-phones {
      display: inherit;
      margin-top: 4.5rem;
    }
    @include mquery-tablets {
      grid-gap: 2.3rem;
      grid-template-columns: 21rem 21rem;
      grid-template-rows: 16rem 16rem;
      margin-top: 4.5rem;
    }
    @include mquery-desktops {
      align-content: center;
      margin-right: 2.1rem;
      margin-top: 2.5rem;
      grid-gap: 2.3rem;
      grid-template-columns: 23rem 23rem 23rem;
      grid-template-rows: 11.5rem 11.5rem 11.5rem;
    }

    .container {
      @include mquery-desktops {
        margin: 0 -1rem;
      }
    }
    .container__card1 {
      @include mquery-desktops {
        align-self: center;
        grid-row-start: 2;
      }
    }
    .container__card2 {
      @include mquery-desktops {
        align-self: start;
        grid-column-start: 2;
        grid-row-start: 1;
      }
    }
    .container__card3 {
      @include mquery-tablets {
        align-self: start;
        grid-column-start: 1;
        grid-row-start: 2;
      }
      @include mquery-desktops {
        align-self: end;
        grid-column-start: 2;
        grid-row-start: 3;
      }
    }
    .container__card4 {
      @include mquery-desktops {
        align-self: center;
        grid-column-start: 3;
        grid-row-start: 2;
      }
    }
  }
}
